@model Angular.Api.Models.Parts

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px;">
    <div class="row col-sm-12">
        @foreach (var item in Model.PartsList)
        {
            <div class="row">
                <div class="col-sm-2">@item.Item</div>
                <div class="col-sm-2">@item.Manufacturer</div>
                <div class="col-sm-2">@item.Model</div>
                <div class="col-sm-2">@item.Cost</div>
            </div>
        }
    </div>
</div>
</body>
</html>