body {
    background-color: #C6D9F1;
}

.wizard {
    border-radius: 15px 0 0 0;
    background: #d4cdcd;
}

.wizard a {
    background: #d4cdcd;
    display: inline-block;
    margin-right: -15px;
    min-width: 165px;
    outline: none;
    padding: 10px 40px 10px;
    position: relative;
    text-decoration: none;
    border-radius: 15px 0 0 0;
}

.borderedTab {
    border-left: 2px solid #C6D9F1;
}

.wizard .active {
    background: #007ACC;
    color: #fff;
}

form {
    background-color: #A4C8E8;
    border-radius: 2px;
    box-shadow: 0 1px 1px #ccc;
    color: #404040;
    font-size: 16px;
    padding: 30px 20px;
}

form legend {
    color: #404040;
    font-size: 30px;
    font-family: 'cookie', 'cursive';
    font-weight: normal;
    line-height: 1;
    text-shadow: 0 3px 0 #000000;
    text-shadow: 0 3px 0 rgba(0,0,0,0.1);
}

.chart {
    width: 100%;
    height: 300px;
}

@keyframes example {
    0%   {background-color: white;}
    50%  {background-color: silver;  text-shadow: 0 1px 0 white;}
    100% {background-color: white;}
 }

.sort {
    border-color: #d58512;
    background-color: #ed9c28;  
    color: white;
}

.sortColumn {
    animation-name: sort;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    color: white;
    border-color: #d58512;
}
      
@keyframes sort {
    0%   {background-color: white; color:#ed9c28 }
    50%  {background-color: #ed9c28;  color: white;}
    100% {background-color: white; color:#ed9c28}
}

.hoverwell:hover {
    background-color: silver;
    color: black;
    cursor: pointer;
}

select, textarea {
  color: #52575c;
}

.well-title {
    margin-top: 0px;
}

.votingButton {
    cursor: pointer;
    padding: 5px 3px 3px 3px;
}

.votingWidget {
    background-color: silver;
    width: 40px;
    text-align: center;
    border-radius: 5px;
}

.cell {
    padding: 3px;
    cursor: pointer;    
}

.cell:hover {
    background-color: gray;
    color: white;
}

.hoverCursor {
  cursor: pointer;
}

.hoverCursor:hover {
    animation-name: hover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@keyframes hover {
    0%   { color: black;  text-shadow: -5px -5px 0 rgba(0,0,0,0.2); }
    50%  {color: red;  text-shadow: 5px 5px 0 rgba(0,0,0,0.2); }
    100% { color: black;  text-shadow: -5px -5px 0 rgba(0,0,0,0.2); }
}